{% extends 'base.html' %}
        
        {% block title %}
        <title>Cerenade Digital/Services</title>
        {% endblock %}

        {% block service_active %}
        class="active"
        {% endblock %}
    
        {% block content %}
<html>
    <head>

    </head>
    <body>
        <section class="bg-dark text-light p-5 text-center">
            
            <div class="container px-4 py-5" id="icon-grid">
                <h2 class="pb-2 ">Our Services</h2>
                <hr size="3">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                <div class="col d-flex align-items-start">
                    
                    <div class="spec">
                    <h4 class="fw-bold mb-0">Branding</h4>
                    <hr size="3">
                    <p> We work with clients to help define their distinctive identity by creating a unique and attractive brand, including the creation of logos and identifiable brand designs.</p>
                    </div>
              </div>
              <div class="col d-flex align-items-start">
                
                <div class="spec">
                  <h4 class="fw-bold mb-0">Market Research</h4>
                  <hr size="3">
                  <p> With our expertise in research we offer in-depth and concrete data acquisition, data analysis, primary and secondary research including the implementation of product testing and customer survey.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                
                <div class="spec">
                  <h4 class="fw-bold mb-0">Strategy</h4>
                  <hr size="3">
                  <p> We work with clients to understand their needs and then create a strategy with the considerations of the desired goals of the client in order to reach a plan of action to execute.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                
                <div class="spec">
                  <h4 class="fw-bold mb-0">Digital Marketing</h4>
                  <hr size="3">
                  <p> We create marketing strategies that are in line with the vision of our clients and execute through the use of digital and online tools such as Email Marketing, SEO, SMM, SMO, PPC, Product Demo, Explainers and many more.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                
                <div class="spec">
                  <h4 class="fw-bold mb-0">Creative</h4>
                  <hr size="3">
                  <p> We help your business stay relevant and competitive by creating innovative concepts for publishing that helps to portray and highlight the qualities of the brand to their target audience.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                
                <div class="spec">
                  <h4 class="fw-bold mb-0">Software Dev & Web Design</h4>
                  <hr size="3">
                  <p> Our UX/UI experts and software developers work alongside our clients to design and develop softwares and websites that are unique to their brand and provides a user-friendly experience for their target audience.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                
                <div class="spec">
                  <h4 class="fw-bold mb-0">Advertising & Media Buying</h4>
                  <hr size="3">
                  <p> With proper analysis we identify and target relevant audience by ensuring advertisement is specific and directed to the intended audience.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                
                <div class="spec">
                  <h4 class="fw-bold mb-0">Media Production</h4>
                  <hr size="3">
                  <p> We offer media production services for marketing and advertising content creation, Video Production, Photography, Graphic Design, Audio Production etc.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="strategy" class=" text-light p-5 text-center">
        <div class="container">
            <h2 class="text-center mb-0">Our Strategy</h2>
            <hr size="3">
            <p>At CERENADE DIGITAL we understand the need for businesses to constantly
                strive to increase revenue by attracting new customers or by developing
                creative and innovative ways to engage and retain existing customer base in
                order to remain competitive and to evolve with the ever changing marketplace.
                <br><br>
                As a B2B service provider our model is simply the engagement of businesses by
                providing business solutions through the implementation of integrated branding.
                <br><br>

                We engage with clients to first understand their vision and then work hand in hand
                to develop a creative and strategic plan to execute.
                We deliver service by fulfilling the three core aspects of branding through a unique
                mix of the various elements of branding stringed together in one service package.
            </p>


        </div>
    </section>
    
</body>
</html>
        {% endblock%}